.header__logo {
  margin: 0 0 41px;
  padding: 0;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-bottom: 31.6px;
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
