.profile__info {
  margin: 0;
  padding: 0;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
}

@media screen and (max-width: 838px) {
  .profile__info {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    margin: 0 auto 36px;
    grid-template-columns: 1fr 18px;
  }
}
