.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s linear;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
